.header {
    background-color: #313e88;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav {
    flex-grow: 1;
    text-align: right;
  }
  
  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
  }
  
  .nav-list li {
    display: inline;
  }
  
  .nav-list a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  .nav-list a:hover {
    color: #c8e6c9;
  }
  